/**
 * NetSchool
 * The API for the NetSchool irTech project
 *
 * OpenAPI spec version: 4.30.43656
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.DiaryAssignDetails

import io.swagger.client.infrastructure.*

class DiaryApi(basePath: kotlin.String = "https://virtserver.swaggerhub.com/LEBEDEVKM/NetSchool/4.30.43656") : ApiClient(basePath) {

    /**
     * 
     * returns assign information
     * @param assignId  
     * @param studentId  
     * @return DiaryAssignDetails
     */
    @Suppress("UNCHECKED_CAST")
    fun diaryAssignnDetails(assignId: kotlin.Int, studentId: kotlin.Int): DiaryAssignDetails {
        val localVariableQuery: MultiValueMap = mapOf("studentId" to listOf("$studentId"))
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/student/diary/assigns/{assignId}".replace("{" + "assignId" + "}", "$assignId"), query = localVariableQuery
        )
        val response = request<DiaryAssignDetails>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as DiaryAssignDetails
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
