=begin
#NetSchool

#The API for the NetSchool irTech project

OpenAPI spec version: 5.10.63221

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.35
=end

module SwaggerClient
  class MysettingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # returns my settings
    # @param at an authorization header
    # @param [Hash] opts the optional parameters
    # @return [MySettings]
    def mysettings(at, opts = {})
      data, _status_code, _headers = mysettings_with_http_info(at, opts)
      data
    end

    # returns my settings
    # @param at an authorization header
    # @param [Hash] opts the optional parameters
    # @return [Array<(MySettings, Integer, Hash)>] MySettings data, response status code and response headers
    def mysettings_with_http_info(at, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MysettingsApi.mysettings ...'
      end
      # verify the required parameter 'at' is set
      if @api_client.config.client_side_validation && at.nil?
        fail ArgumentError, "Missing the required parameter 'at' when calling MysettingsApi.mysettings"
      end
      # resource path
      local_var_path = '/mysettings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'at'] = at

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MySettings' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MysettingsApi#mysettings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # returns all years
    # @param at an authorization header
    # @param [Hash] opts the optional parameters
    # @return [MySettingsYears]
    def yearlist(at, opts = {})
      data, _status_code, _headers = yearlist_with_http_info(at, opts)
      data
    end

    # returns all years
    # @param at an authorization header
    # @param [Hash] opts the optional parameters
    # @return [Array<(MySettingsYears, Integer, Hash)>] MySettingsYears data, response status code and response headers
    def yearlist_with_http_info(at, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MysettingsApi.yearlist ...'
      end
      # verify the required parameter 'at' is set
      if @api_client.config.client_side_validation && at.nil?
        fail ArgumentError, "Missing the required parameter 'at' when calling MysettingsApi.yearlist"
      end
      # resource path
      local_var_path = '/mysettings/yearlist'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'at'] = at

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MySettingsYears' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MysettingsApi#yearlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
