=begin
#NetSchool

#The API for the NetSchool irTech project

OpenAPI spec version: 4.30.43656

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.35
=end

module SwaggerClient
  class StudentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # returns all assignments
    # @param student_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :week_start 
    # @option opts [Date] :week_end 
    # @option opts [BOOLEAN] :with_la_assigns 
    # @option opts [BOOLEAN] :with_past_mandatory 
    # @option opts [Integer] :year_id 
    # @return [Diary]
    def student_diary(student_id, opts = {})
      data, _status_code, _headers = student_diary_with_http_info(student_id, opts)
      data
    end

    # returns all assignments
    # @param student_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :week_start 
    # @option opts [Date] :week_end 
    # @option opts [BOOLEAN] :with_la_assigns 
    # @option opts [BOOLEAN] :with_past_mandatory 
    # @option opts [Integer] :year_id 
    # @return [Array<(Diary, Integer, Hash)>] Diary data, response status code and response headers
    def student_diary_with_http_info(student_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentApi.student_diary ...'
      end
      # verify the required parameter 'student_id' is set
      if @api_client.config.client_side_validation && student_id.nil?
        fail ArgumentError, "Missing the required parameter 'student_id' when calling StudentApi.student_diary"
      end
      # resource path
      local_var_path = '/student/diary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'studentId'] = student_id
      query_params[:'weekStart'] = opts[:'week_start'] if !opts[:'week_start'].nil?
      query_params[:'weekEnd'] = opts[:'week_end'] if !opts[:'week_end'].nil?
      query_params[:'withLaAssigns'] = opts[:'with_la_assigns'] if !opts[:'with_la_assigns'].nil?
      query_params[:'withPastMandatory'] = opts[:'with_past_mandatory'] if !opts[:'with_past_mandatory'].nil?
      query_params[:'yearId'] = opts[:'year_id'] if !opts[:'year_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Diary' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentApi#student_diary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # returns strudent diary init data
    # @param [Hash] opts the optional parameters
    # @return [StudentDiaryInit]
    def student_diary_init(opts = {})
      data, _status_code, _headers = student_diary_init_with_http_info(opts)
      data
    end

    # returns strudent diary init data
    # @param [Hash] opts the optional parameters
    # @return [Array<(StudentDiaryInit, Integer, Hash)>] StudentDiaryInit data, response status code and response headers
    def student_diary_init_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentApi.student_diary_init ...'
      end
      # resource path
      local_var_path = '/student/diary/init'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'StudentDiaryInit' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentApi#student_diary_init\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
