# coding: utf-8

"""
    NetSchool

    The API for the NetSchool irTech project  # noqa: E501

    OpenAPI spec version: 5.10.63221
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class MysettingsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def mysettings(self, at, **kwargs):  # noqa: E501
        """mysettings  # noqa: E501

        returns my settings  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mysettings(at, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str at: an authorization header (required)
        :return: MySettings
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.mysettings_with_http_info(at, **kwargs)  # noqa: E501
        else:
            (data) = self.mysettings_with_http_info(at, **kwargs)  # noqa: E501
            return data

    def mysettings_with_http_info(self, at, **kwargs):  # noqa: E501
        """mysettings  # noqa: E501

        returns my settings  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mysettings_with_http_info(at, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str at: an authorization header (required)
        :return: MySettings
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['at']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method mysettings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'at' is set
        if ('at' not in params or
                params['at'] is None):
            raise ValueError("Missing the required parameter `at` when calling `mysettings`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'at' in params:
            header_params['at'] = params['at']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mysettings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MySettings',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def yearlist(self, at, **kwargs):  # noqa: E501
        """yearlist  # noqa: E501

        returns all years  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.yearlist(at, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str at: an authorization header (required)
        :return: MySettingsYears
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.yearlist_with_http_info(at, **kwargs)  # noqa: E501
        else:
            (data) = self.yearlist_with_http_info(at, **kwargs)  # noqa: E501
            return data

    def yearlist_with_http_info(self, at, **kwargs):  # noqa: E501
        """yearlist  # noqa: E501

        returns all years  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.yearlist_with_http_info(at, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str at: an authorization header (required)
        :return: MySettingsYears
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['at']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method yearlist" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'at' is set
        if ('at' not in params or
                params['at'] is None):
            raise ValueError("Missing the required parameter `at` when calling `yearlist`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'at' in params:
            header_params['at'] = params['at']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/mysettings/yearlist', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MySettingsYears',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
