/*
 * NetSchool
 * The API for the NetSchool irTech project
 *
 * OpenAPI spec version: 5.10.63221
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.DiaryAssignDetails;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DiaryApi {
    private ApiClient apiClient;

    public DiaryApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DiaryApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for diaryAssignnDetails
     * @param assignId  (required)
     * @param studentId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call diaryAssignnDetailsCall(Integer assignId, Integer studentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/student/diary/assigns/{assignId}"
            .replaceAll("\\{" + "assignId" + "\\}", apiClient.escapeString(assignId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (studentId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("studentId", studentId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call diaryAssignnDetailsValidateBeforeCall(Integer assignId, Integer studentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'assignId' is set
        if (assignId == null) {
            throw new ApiException("Missing the required parameter 'assignId' when calling diaryAssignnDetails(Async)");
        }
        // verify the required parameter 'studentId' is set
        if (studentId == null) {
            throw new ApiException("Missing the required parameter 'studentId' when calling diaryAssignnDetails(Async)");
        }
        
        com.squareup.okhttp.Call call = diaryAssignnDetailsCall(assignId, studentId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * returns assign information
     * @param assignId  (required)
     * @param studentId  (required)
     * @return DiaryAssignDetails
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public DiaryAssignDetails diaryAssignnDetails(Integer assignId, Integer studentId) throws ApiException {
        ApiResponse<DiaryAssignDetails> resp = diaryAssignnDetailsWithHttpInfo(assignId, studentId);
        return resp.getData();
    }

    /**
     * 
     * returns assign information
     * @param assignId  (required)
     * @param studentId  (required)
     * @return ApiResponse&lt;DiaryAssignDetails&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<DiaryAssignDetails> diaryAssignnDetailsWithHttpInfo(Integer assignId, Integer studentId) throws ApiException {
        com.squareup.okhttp.Call call = diaryAssignnDetailsValidateBeforeCall(assignId, studentId, null, null);
        Type localVarReturnType = new TypeToken<DiaryAssignDetails>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * returns assign information
     * @param assignId  (required)
     * @param studentId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call diaryAssignnDetailsAsync(Integer assignId, Integer studentId, final ApiCallback<DiaryAssignDetails> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = diaryAssignnDetailsValidateBeforeCall(assignId, studentId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<DiaryAssignDetails>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
